.header{
	border-top:20px solid white;
	border-bottom:20px solid white;
	position:relative;
	height:437px;
	img{
		position: absolute;
		top:0;
		left:0;
		opacity:0;
		transition: opacity 2s;

		&.front{
			opacity:1;
		}
	}

}