
$font-size: 20px;

$font-family: sans-serif;

$blue:		#006B8F;

$orange:	#CE661F;

$dark-grey:	#585858;




@import 'layouts/main';

@import 'components/header';

@import 'components/pin-icon';

@import 'components/search';

@import 'components/map';

@import 'components/directory';

